BlazeSudio/keys/apiKeys.key
*.pyc
*.bin
BlazeSudio/bot/model/*
BlazeSudio/bot/Unusedmodels/*
*.db
*.json
!BlazeSudio/bot/preferencesDefault.json
!BlazeSudio/data/defaultWorld/src/nodes/dat.json
!BlazeSudio/data/nodes/types.json
!test-files/dat.json
*.elm
BlazeSudio/data/worlds/*/*
BlazeSudio/data/worlds/*/world/backups/*
BlazeSudio/data/defaultWorld/world/backups/*
Blaze_Sudio.egg-info/*
build/*
