keys/apiKeys.key
*.pyc
*.bin
bot/model/*
bot/Unusedmodels/*
*.db
*.json
!bot/preferencesDefault.json
!data/defaultWorld/src/nodes/dat.json
!data/nodes/types.json
*.elm
data/worlds/*/*
data/worlds/*/world/backups/*
data/defaultWorld/world/backups/*
